:root{

--primary:#d32f2f;
--primary-dark:#b71c1c;

--sidebar:#111827;

--bg:#f4f6fb;

--card:#ffffff;

--text:#1f2937;

--border:#e5e7eb;

--radius:14px;

}



*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}



body{

background:var(--bg);

color:var(--text);

}



.sidebar{

background:var(--sidebar);

min-height:100vh;

padding:20px;

}



.logo{

font-size:28px;

font-weight:700;

color:white;

}



.logo span{

color:#ff3b30;

}



.sidebar a{

display:block;

padding:13px 16px;

margin-bottom:8px;

text-decoration:none;

color:#d1d5db;

border-radius:10px;

transition:.25s;

font-weight:500;

}



.sidebar a:hover{

background:#d32f2f;

color:white;

transform:translateX(4px);

}



.sidebar a.active{

background:#d32f2f;

color:white;

}



.content{

padding:25px;

}



.topbar{

background:white;

padding:18px 25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.06);

margin-bottom:25px;

display:flex;

justify-content:space-between;

align-items:center;

}



.card{

border:none;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.card-body{

padding:22px;

}



.stat-icon{

width:55px;

height:55px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:24px;

color:white;

background:#d32f2f;

margin-bottom:15px;

}



.table{

background:white;

}



.table thead{

background:#d32f2f;

color:white;

}



.table thead th{

border:none;

}



.table tbody tr:hover{

background:#fff8f8;

}



.btn-primary{

background:#d32f2f;

border:none;

}



.btn-primary:hover{

background:#b71c1c;

}



.btn-danger{

background:#d32f2f;

border:none;

}



.form-control,

.form-select{

border-radius:10px;

padding:11px;

}



.modal-content{

border:none;

border-radius:18px;

}



.badge-success{

background:#16a34a;

}



.badge-danger{

background:#dc2626;

}



@media(max-width:992px){

.sidebar{

min-height:auto;

}

}
