<div class="sidebar">


<div class="logo mb-4">

<i class="bi bi-box-seam-fill"></i>

<span>SPMDR</span>

</div>


<p class="text-secondary small">
Sistem Pengurusan Sparepart
</p>


<a href="dashboard.html">
<i class="bi bi-speedometer2"></i>
Dashboard
</a>


<a href="produk.html">
<i class="bi bi-box"></i>
Produk
</a>


<a href="supplier.html">
<i class="bi bi-truck"></i>
Supplier
</a>


<a href="barang_masuk.html">
<i class="bi bi-box-arrow-in-down"></i>
Barang Masuk
</a>


<a href="barang_keluar.html">
<i class="bi bi-box-arrow-up"></i>
Barang Keluar
</a>


<a href="jualan.html">
<i class="bi bi-cart3"></i>
Jualan
</a>


<a href="laporan.html">
<i class="bi bi-bar-chart"></i>
Laporan
</a>


<hr>


<button onclick="logout()" class="btn btn-danger w-100">

<i class="bi bi-box-arrow-right"></i>

Logout

</button>


</div>
